.btn {
  padding: 8px 1rem;
  border-radius: 10px;
  border: none;
}
.btn.btn-plain {
  background: blueviolet;
  color: white;
}
.btn.btn-plain:hover {
  background: rgb(126, 3, 241);
  cursor: pointer;
}
